body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px; /* pushes content below navbar */
  background-color: black;
  text-align: center;
}

/* Navbar styles */
.navbar {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float:left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.afl-logo {
  height: 40px;
  width: auto;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.team-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color); /* fallback color */
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 350px; /* Adjust height */
  background-size: contain; /* Ensures the background image covers the entire button */
  background-position: center; /* Centers the logo */
}

.team-button span {
  position: absolute;
  z-index: 2; /* Ensures the text is above the logo */
  color: white; /* Text color */
  font-size: 18px;
  font-weight: bold;
}


.team-button:hover {
  background-color: #005bb5;
}

h1 {
  color: white;
  margin-bottom: 10px;
}