.adelaideCrows-button {
    background-image: url("../teamLogo/adelaideCrows.png");
  }

.brisbaneLions-button {
    background-image: url("../teamLogo/brisbaneLions.png");
}

.carlton-button {
    background-image: url("../teamLogo/carlton.png");
  }

.collingwood-button {
    background-image: url("../teamLogo/collingwood.png");
}

.essendon-button {
    background-image: url("../teamLogo/essendon.png");
}

.fremantle-button {
    background-image: url("../teamLogo/fremantle.png");
}

.geelongCats-button {
    background-image: url("../teamLogo/geelongCats.png");
  }

.goldCoastSuns-button {
    background-image: url("../teamLogo/goldCoastSuns.png");
}

.greatWesternSydneyGiants-button {
    background-image: url("../teamLogo/greatWesternSydneyGiants.png");
}

.hawthornHawks-button {
    background-image: url("../teamLogo/hawthornHawks.png");
}

.melbourne-button {
    background-image: url("../teamLogo/melbourne.png");
  }

.northMelbourne-button {
    background-image: url("../teamLogo/northMelbourne.png");
  }

.portAdelaide-button {
    background-image: url("../teamLogo/portAdelaide.png");
  }

.richmondTigers-button {
    background-image: url("../teamLogo/richmondTigers.png");
  }

.stKilda-button {
    background-image: url("../teamLogo/stKilda.png");
  }

.sydneySwans-button {
    background-image: url("../teamLogo/sydneySwan.png");
  }

.westCoastEagles-button {
    background-image: url("../teamLogo/westCoastEagles.png");
  }

.westernBulldogs-button{
    background-image: url("../teamLogo/westernBulldogs.jpg")
}