.recent-teams {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  padding: 0 5px;
  z-index: 1;
  letter-spacing: 0.1em;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 2rem 1rem;
  font-size: 2.5rem;
  animation: fadeIn 2s ease-in-out;
}

.recent-matches-label {
  display: block;        
  margin-bottom: 1.5rem;   
}

.show-more-button {
  margin: 2rem auto;
  display: block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #00a58a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.show-more-button:hover {
  background-color: #00a58a;
}